--bg: #{$Very-Dark-Blue}: hsl(230, 17%, 14%); //(BG)
$Very-Dark-Blue: hsl(232, 19%, 15%); //(Top BG Pattern)
$Dark-Desaturated-Blue: hsl(228, 28%, 20%); //(Card BG)
$Desaturated-Blue: hsl(228, 34%, 66%); //(Text)
$White: hsl(0, 0%, 100%); //(Text)

// Light Theme

$White: hsl(0, 0%, 100%); // (BG)
$Very-Pale-Blue: hsl(228, 100%, 98%); //(Top BG Pattern)
$Light-Grayish-Blue: rgb(240, 242, 250); //(Card BG)
$Card-Hover: #E1E3F0; //(Card BG hover)
$Dar-Grayish-Blue: hsl(228, 12%, 44%); //(Text)
$Very-Dark-Blue: hsl(230, 17%, 14%); //(Text) 