$input-check: true;

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    transform:rotate(180deg);
    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $Toggle;
        transition: 0.4s;
        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color:var(--card-bg);
            transition: 0.4s;
            
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
        
    }

    & input {
        opacity: 0;
        width: 0;
        height: 0;
        $input-check: true;
    }
    & input:checked{
        $input-check: false;

    }
    & input:checked + .slider {
        background: $Toggle-active;
        transition: 0.4s;
        &:hover{
            background: $Toggle-active;
            cursor: pointer;
        }
    }
    & input:checked + .slider:before {
        transform: translateX(24px);
        transition: 0.4s;
        background-color: white;
    }
}
